
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div>
    <h2>Sistema</h2>
    <ul>
        <li> <a href="/Usuario/Index">Cadastrar Usuários</a> </li>
        <li> <a href="/Tarefa">Consultar Tarefas</a> </li>
    </ul>
    <hr />
</div>
